body
{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
/* header*/
nav,ul,li
{
    display: flex;
    justify-content:flex-end;
    margin: 10px;
    align-items:center;
    
}

header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#f7fdfe;
}

h1
{
    margin: 0;
    text-transform: uppercase;

}

.bouton
{
    color: white;
    background-color:#0ebfdd;
    padding: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:1.5em;
}

/* body*/


/* photo en titre */
#banniere
{
    width: 100%;
    height: 600px;
    background-image: url(paysage.jpg);
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content:center;
}

.blanc
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin-bottom:0;
}

.txt1
{
    color: white;
    margin-top:0;
    width: 40%;
    text-align:center;
}

/* section blanche */
#white
{
    width:100%;
    height: 150px;
    background-color: white;
}

.bleu
{
    color:rgba(14,191,221);
    text-align:center;
    font-size: 3em;
}

.txt2
{
    text-align:center;
    width: 40%;
    margin: auto;
}

/* section bleue */
#blue
{
    background-color: #0ebfdd;
    width:100%;
    height:600px;
}

.bouton1
{
    color: white;
    text-align:center;
    text-transform: uppercase;
    padding: 0.5em;
    border-style: solid;
    width: 10%;
    margin: auto;
    border-radius: 3em;
}

#bloc
{
    display:flex;
    justify-content:center;

}

#img1,#img2,#img3
{
    margin: 30px;
}

.blanc2
{
    text-align:center;
    color: white;
    padding-top: 5%;
    font-size: 3em;

}

.sousphoto
{
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-bottom:0;
}

.soustitre
{
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin-top:0;
}

/* carte */
#map
{
    width: 100%;
    height: 600px;
    background-image: url(Map.jpg)
}

/* footer */

footer
{
    background-color: rgba(69,73,77);
    margin:0;
    padding-top:50px;
    padding-bottom: 100px;
}

.nav,.ul,.li
{
    display: flex;
    justify-content:flex-start;
    margin-top:0;
    margin-bottom:0;
    color:white;
}

.fa-facebook-f,.fa-twitter,.fa-envelope
{
    color: white;
    
}

.ul2 li
{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display:flex;
    justify-content:center;
}

#footer2
{
    width: 70%;
    margin: auto;
}

/* version mobile*/

@media screen and (max-width: 640px)
{
    nav,ul,li{
       
        };
    header
    {
        flex-direction: column;
    }

    .txt1{
        width:80%;
    }

    #white
    {
        height: 300px;
    }

    .txt2
    {
        width:80%;
    }

    .bouton1
    {
        width: 20%;
    }

    #footer2
    {
        width: 90%;
        align-items: start;
    }
}